* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/*-----------*/
/* Buttons */
.socials__btn {
  display: flex;
  align-items: center;
  padding: 7px 5px 7px 7px;
  font-size: 10px;
  color: #34ACA7;
  font-style: italic;
  text-decoration: none;
  width: 140px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  border-radius: 5px;
  cursor: pointer;
}
.socials__btn-img {
  margin-right: 5px;
}

.subscribe__btn {
  font-size: 10px;
  width: 80px;
  height: 24px;
  background: linear-gradient(180deg, #F4F3F3 0%, #BBB9B9 100%);
  border: 1px solid #E5E5E5;
  border-radius: 2px;
  cursor: pointer;
}

/* Body */
body {
  font-size: 14px;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1088px;
  padding: 46px 0 0 0;
  margin: 0 auto;
}
.container--footer {
  display: block;
  padding-top: 0;
}

/* aside */
.aside {
  max-width: 140px;
  margin-left: 8px;
  margin-right: 44px;
}
.aside__logo {
  display: block;
  margin: 0 auto;
}
.aside__list {
  list-style-type: none;
}
.aside__item {
  padding: 5px 5px 35px 5px;
}
.aside__link {
  display: flex;
  align-items: center;
  color: #34ACA7;
  font-style: italic;
  text-decoration: none;
}
.aside__link:hover {
  text-decoration: underline;
}
.aside__img {
  margin-right: 13px;
}

/* socials */
.socials {
  display: block;
  margin-bottom: 5px;
}
.socials__header {
  padding-bottom: 5px;
  margin-bottom: 9px;
  font-size: 12px;
  font-weight: 400;
  font-family: "Verdana", sans-serif;
  text-transform: uppercase;
  border-bottom: 1px dashed #E5E5E5;
}
.socials__text {
  margin-bottom: 15px;
  font-size: 10px;
  font-style: italic;
  line-height: 19px;
}

.visually-hidden {
  display: none;
  /* visibility: hidden; */
}

.main {
  flex-grow: 1;
}

.slider {
  margin-bottom: 30px;
}

/* baner */
.baner__img {
  padding-top: 31.6964285714%;
  padding-bottom: 69px;
  background: url(../img/main/slider-img.jpg) center/cover no-repeat;
}
.baner_inner {
  display: flex;
  flex-direction: column;
  margin-top: -150px;
}
.baner__header {
  width: 272px;
  padding: 12px 27px 12px 12px;
  font-size: 22px;
  font-weight: 400;
  font-style: italic;
  background-color: #fff;
  color: #000;
}
.baner__text {
  width: 487px;
  padding: 13px 0 13px 24px;
  font-size: 14px;
  color: #ffffff;
  font-style: italic;
  background-color: #000;
}

.tabs {
  display: flex;
  justify-content: space-between;
}
.tabs__item {
  padding: 22px 0 22px 20px;
  flex: 1 1 0;
  background-color: #EFF8F7;
  border-left: 1px solid #F9FBFB;
  cursor: pointer;
}
.tabs__item--active {
  background-color: #D9EFEC;
  border-left: 1px solid #D9EFEC;
  cursor: default;
}
.tabs__btn {
  color: #34ACA7;
}
.tabs__item-header {
  font-size: 18px;
  font-weight: 400;
}
.tabs__text {
  display: block;
  font-size: 10px;
  font-style: italic;
}

/* subscribe */
.subscribe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 18px;
  margin-bottom: 30px;
  border-top: 1px dashed #E5E5E5;
  border-bottom: 1px dashed #E5E5E5;
}
.subscribe__inner {
  display: flex;
}
.subscribe__img {
  margin-right: 17px;
}
.subscribe__text {
  width: 100%;
  max-width: 530px;
  margin-right: 14px;
}
.subscribe__form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 27%;
}
.subscribe__input {
  display: flex;
  width: 100%;
  min-width: 160px;
  height: 24px;
  padding-left: 6px;
  margin-right: 18px;
  border: 1px solid #E5E5E5;
}

/* cards */
.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 26px;
}
.cards__item {
  width: 25%;
  margin-right: 23px;
  letter-spacing: -0.02em;
  line-height: 20px;
}
.cards__item:last-child {
  margin-right: 0;
}
.cards__img {
  width: 100%;
  margin-bottom: 11px;
  border: 11px solid #FFFFFF;
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));
}
.cards__header {
  margin-bottom: 9px;
  font-size: 16px;
  color: #34ACA7;
  font-weight: 400;
  line-height: 21px;
}
.cards__text {
  max-height: 120px;
  margin-bottom: 11px;
  overflow: hidden;
}
.cards__date {
  display: inline-block;
  color: #E5E5E5;
}
.cards__link {
  text-decoration: none;
  color: #34ACA7;
}

/* footer */
.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 37px;
  border-top: 2px solid #E5E5E5;
}
.footer__list {
  display: flex;
  list-style-type: none;
}
.footer__item {
  padding-right: 5px;
  margin-right: 5px;
  border-right: 1px solid #E5E5E5;
}
.footer__item:last-child {
  border: none;
}
.footer__link {
  font-size: 12px;
  color: #34ACA7;
  text-decoration: none;
}
.footer__text {
  font-size: 12px;
  color: #E5E5E5;
}
.footer__socials--item {
  margin-right: 5px;
}

/* Responsive */
/* Screen (992 - 1176px) */
@media screen and (max-width: 1176px) {
  .container {
    max-width: 896px;
  }

  .slider {
    margin-bottom: 18px;
  }

  .baner__img {
    padding-top: 39.8876404494%;
  }

  .tabs__item {
    padding: 10px 0;
  }
  .tabs__item-header {
    font-size: 14px;
    text-align: center;
  }
  .tabs__text {
    display: none;
  }

  .subscribe {
    margin-bottom: 18px;
  }
  .subscribe__text {
    margin-right: 4px;
    max-width: 363px;
  }
}
/* Screen (768 - 992px) */
@media screen and (max-width: 992px) {
  .container {
    flex-direction: column;
    max-width: 716px;
    padding: 20px 0 0 0;
  }
  .container--footer {
    padding-top: 0;
  }

  .aside {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 710px;
    margin: 0 0 51px 0;
  }
  .aside__logo {
    margin: 0;
  }
  .aside__list {
    display: flex;
    flex-direction: row;
  }
  .aside__item {
    width: 100px;
    margin: 0;
    padding: 0;
  }
  .aside__link {
    display: flex;
    flex-direction: column;
  }
  .aside__img {
    margin: 0 0 12px 0;
  }

  .socials {
    display: none;
  }

  .cards__text {
    max-height: 164px;
  }
}
/* Screen (480 - 768px) */
@media screen and (max-width: 768px) {
  .container {
    max-width: 560px;
  }

  .aside__img {
    display: none;
  }
  .aside__item {
    width: 100%;
    margin-right: 16px;
    padding: 0;
    white-space: nowrap;
  }

  .slider {
    margin-bottom: 39px;
  }

  .baner__img {
    padding-top: 47.8899082569%;
    padding-bottom: 0;
  }
  .baner__inner {
    margin-top: -92px;
  }
  .baner__header {
    opacity: 0.6;
    width: 100%;
  }
  .baner__text {
    width: 100%;
  }

  .tabs__item {
    display: none;
  }

  .subscribe {
    flex-direction: column;
    justify-content: space-between;
  }
  .subscribe__inner {
    margin-bottom: 16px;
  }
  .subscribe__text {
    max-width: 100%;
  }
  .subscribe__form {
    width: 100%;
  }
  .subscribe__input {
    margin-right: 36px;
  }

  .cards {
    flex-wrap: wrap;
  }
  .cards__item {
    width: 47%;
    margin-right: 0;
    margin-bottom: 15px;
  }
  .cards__text {
    max-height: 100px;
  }
}
/* Screen (less 480px) */
@media screen and (max-width: 480px) {
  .container {
    max-width: 429px;
  }

  .baner__img {
    padding-top: 58.5416666667%;
    padding-bottom: 0;
  }

  .aside {
    flex-direction: column-reverse;
    margin-bottom: 42px;
  }
  .aside__list {
    margin-bottom: 34px;
  }

  .slider {
    margin-bottom: 29px;
  }

  .subscribe {
    padding-bottom: 32px;
    margin-bottom: 29px;
  }

  .cards {
    margin-bottom: 22px;
  }
  .cards__item {
    width: 100%;
    margin: 0 52.5px 29px;
  }
  .cards__item:last-child {
    margin: 0 52.5px 0;
  }

  .footer {
    padding-bottom: 23px;
  }
}