@import './components/reset';
@import './components/colors';
@import './components/btn';
@import './components/mixins';


/* Body */
body {
    @include font ($size: 14px);
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1088px;

    padding-top: 46px;

    &--footer {
        display: block;
        padding-top: 0;
    }
}

/* aside */

.aside {
    max-width: 140px;

    &__logo {
        display: block;
        margin: 0 auto;
    }

    &__list {
        list-style-type: none;
    }

    &__item {
        padding: 5px 5px 35px 5px;
    }

    &__link {
        display: flex;
        align-items: center;

        @include font ($style: italic);
        color: $fontColor;
        text-decoration: none;
    }

    &__link:hover {
        text-decoration: underline;
    }

    &__img {
        margin-right: 13px;
    }
}

/* socials */
.socials {
    display: block;
    margin-bottom: 5px;

    &__header {
        padding-bottom: 5px;
        margin-bottom: 9px;

        @include font ($size: 12px, $weight: 400);
        font-family: 'Verdana', sans-serif;
        text-transform: uppercase;

        border-bottom: 1px dashed #E5E5E5;
    }

    &__text {
        margin-bottom: 15px;
        
        @include font ($size: 10px, $style: italic, $lh: 19px);
    }      
}

.visually-hidden {
    display: none;
    /* visibility: hidden; */
}

.main {
    max-width: 896px;
    margin: 0 10px 30px;
}

.slider {
    position: relative;
    
    &__prev, &__next {
        display: none;

        font-size: 18px;
        color: #ffffff;
        position: absolute;
        top: 40%;
        
        padding: 8px 9px;
        background-color: rgba(0, 0, 0, 0.25);
        
        border-radius: 0 3px 3px 0;
        cursor: pointer;
        
        transition: 0.6s ease;

    }

    &__prev {
        border-radius: 0 3px 3px 0;

        &:hover {
            background-color: rgba(0, 0, 0, 0.45);
        }
    }

    &__next {
        right: 0;
        border-radius: 3px 0 0 3px;

        &:hover {
            background-color: rgba(0, 0, 0, 0.45);
        }
    }
}

/* baner */

.baner {
    &__img {
        display: none;
        padding-top: calc((445px - 161px) / 896px * 100%);
        padding-bottom: 69px;
        
        &.active {
            display: block;
        }
        
        &.img-1 {
            background: url(../img/main/slider/1.jpg) center/cover no-repeat;
        }
        &.img-2 {
            background: url(../img/main/slider/2.jpg) center/cover no-repeat;
        }
        &.img-3 {
            background: url(../img/main/slider/3.jpg) center/cover no-repeat;
        }
        &.img-4 {
            background: url(../img/main/slider/4.jpg) center/cover no-repeat;
        }
    }
    
    &__inner {
        display: flex;
        flex-direction: column;
    }
    
    &__header {
        width: 272px;
        padding: 12px 27px 12px 12px;  
        
        @include font ($size: 22px, $style: italic, $weight: 400);

        background-color: #fff;
        color: #000;
    }

    &__text {
        width: 487px;
        padding: 13px 0 13px 24px;
        
        @include font ($size: 14px, $style: italic);
        color: #ffffff;

        background-color: #000000;
    }
}

.tabs {
    display: flex;
    justify-content: space-between;

    &__item {
        padding: 22px 0 22px 20px;
        flex: 1 1 0;
        background-color: $blockColor;
        border-left: 1px solid #F9FBFB;
        cursor: pointer;

        &.active {
            background-color: $blockColorActive;
            border-left: 1px solid $blockColorActive;
            cursor: default;
        }
    }

    &__inner {
        color: $fontColor;
    }

    &__inner-header {
        @include font ($size: 18px, $weight: 400);
    }

    &__inner-text {
        display: block;

        @include font ($size: 10px, $style: italic);
    }
}

/* subscribe */

.subscribe {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 18px;
    margin-bottom: 30px;

    border-top: 1px dashed #E5E5E5;
    border-bottom: 1px dashed #E5E5E5;

    &__inner {
        display: flex;
    }
    
    &__img {
        margin-right: 17px;
    }
    
    &__text {
        width: 100%;
        max-width: 530px;
        margin-right: 14px;
    }
    
    &__form {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 27%;
    }
    
    &__input {
        display: flex;
        width: 100%;
        min-width: 160px;
        height: 24px;
    
        padding-left: 6px;
        margin-right: 18px;
    
        border: 1px solid #E5E5E5;
    }

}

/* cards */

.cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 26px;

    &__item {
        width: 23%;
        letter-spacing: -0.02em;
        line-height: 20px;
    }
    
    &__item:last-child {
        margin-right: 0;
    }
    
    &__img {
        width: 100%;
        margin-bottom: 11px;
    
        border: 11px solid #FFFFFF;
        filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));
    }
    
    &__header {
        margin-bottom: 9px;

        @include font ($size: 16px, $weight: 400);
        color: $fontColor;
        line-height: 21px;
    }
    
    &__text {
        max-height: 120px;
    
        margin-bottom: 11px;
    
        overflow: hidden;
    }

    &__date {
        display: inline-block;
    
        color: #E5E5E5;
    }

    &__link {
        text-decoration: none;
    
        color: $fontColor;
    }
}

/* footer */

.footer {
    display: flex;
    justify-content: space-between;

    padding-top: 24px;
    padding-bottom: 37px;
    margin: 0 10px 0;

    border-top: 2px solid #E5E5E5;

    &__list {
        display: flex;
        list-style-type: none;
    }

    &__item {
        padding-right: 5px;
        margin-right: 5px;
    
        border-right: 1px solid #E5E5E5;
    }

    &__item:last-child {
        border: none;
    }

    &__link {
        @include font ($size: 12px);
        color: $fontColor;
        text-decoration: none;
    }

    &__text {
        @include font ($size: 12px);
        color: #E5E5E5;
    }

    &__socials--item {
        margin-right: 5px;
    }
}

@import './components/animation';
@import './components/responsive';