@mixin font ($size: false, $colour: false, $weight: false,  $style: false) {
    @if $size { font-size: $size; }
    @if $colour { color: $colour; }
    @if $weight { font-weight: $weight; }
    @if $style { font-style: $style; }
  }